@inherits LayoutComponentBase

<head>
    <link href="_content/Portfolio.SharedRazorUI/css/app.css" rel="stylesheet" />
</head>


<div class="page @(isDarkMode ? "dark-mode" : "")">

    <button @onclick="ToggleDarkMode" class="dark-mode-toggle">
        Toggle Dark Mode
    </button>

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool isDarkMode = true;

    private void ToggleDarkMode()
    {
        isDarkMode = !isDarkMode;
    }
}
